/* Attractions */
.card-container.outcard {
    width: 400px;
    height: 330px;
}

.card-container.incard {
    width: 220px;
    height: 160px;
}

.card-container.one .card {
    background: url(../src/fortress.jpg);
    background-size: cover;
}

.card-container.two .card {
    background: url(../src/jimei.jpg);
    background-size: cover;
}

.card-container.three .card {
    background: url(../src/tulou.jpg);
    background-size: cover;
}

.card-container.four .card {
    background: url(../src/zhongshan.jpg);
    background-size: cover;
}

.card-container.five .card {
    background: url(../src/huandao.jpg);
    background-size: cover;
}

.card-container.six .card {
    background: url(../src/xiamenu.jpg);
    background-size: cover;
}

.card-container.seven .card {
    background: url(../src/jimei.jpg);
    background-size: cover;
}